<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/images/logo.png" rel="shortcut icon">
        <title>Articoding</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="navbar">
                <div class="row">
                    <div class="col col-1 offset-4">
                        <a href="#" class="btn btn-sq access">
                            <i class="bi bi-play"></i><br>
                            <span>JUGAR</span>
                        </a>
                    </div>
                    <div class="col col-1">
                        <a href="#" class="btn btn-sq access">
                            <i class="bi bi-book"></i><br>
                            <span>MANUAL</span>
                        </a>
                    </div>
                    <div class="col col-1">
                        <a href="#" class="btn btn-sq access">
                            <i class="bi bi-pencil-square"></i><br>
                            <span>EDITOR</span>
                        </a>
                    </div>
                    <div class="col col-1">
                        <a href="#" class="btn btn-sq access">
                            <i class="bi bi-person-circle"></i><br>
                            <span>PERFIL</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>