<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("fragments/header") %>
    </head>
    <body class="bg-secondary">
        <%- include("fragments/navbar") %>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
            <div class="container below" id="categories"></div>
        </div>
        <script src="/javascript/categories.js"></script>
    </body>
</html>