<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("fragments/header") %>
    </head>
    <body class="bg-secondary">
        <%- include("fragments/navbar") %>
        <div class="container-fluid below" id="categories"></div>
    </body>
</html>