<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("fragments/header") %>
    </head>
    <body class="bg-secondary">
        <%- include("fragments/navbar") %>
        <div class="container below" id="categories"></div>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="/javascript/home.js"></script>
    </body>
</html>