<div class="container-fluid">
    <div class="row">
        <div class="navbar bg-dark">
            <div class="col col-1">
                <a href="/category/all">
                    <i class="bi bi-house-door-fill h1" title="Home"></i>
                </a>
            </div>
            <div class="col col-1 offset-3 text-center">
                <a href="#">
                    <i class="bi bi-pencil-square h2" title="Editor"></i>
                </a>
            </div>
            <div class="col col-1 text-center">
                <a href="#">
                    <i class="bi bi-book h2" title="Manual"></i>
                </a>
            </div>
            <div class="col col-1 text-center">
                <a href="/community">
                    <i class="bi bi-people-fill h2" title="Community"></i>
                </a>
            </div>
            <div class="col col-1 text-center">
                <a href="#">
                    <i class="bi bi-person-circle h2" title="Profile"></i>
                </a>
            </div>
            <div class="col col-1 offset-3">
                <a href="#">
                    <i class="bi bi-gear h1" title="Configuration"></i>
                </a>
            </div>
        </div>
    </div>
</div>