.navbar {
    position: fixed;
    width: 100%;
    background-color: #fffc42c3;
}

.row {
    width: 100%;
}

.card {
    background-color: #D9D9D9;
    border-style: none;
    margin: 1.5rem;
    border-radius: 2rem;
}
.card-img-top {
    border-radius: 2rem 0;
}
.card-text {
    font-weight: 700;
    font-size: large;
    text-align: right;
}