<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
<% categories.forEach((category) => { %>
    <div class="col">
        <div class="card border-dark d-flex flex-column h-100">
            <a href="/level/levelsByCategory/<%= category.id %>">
                <h5 class="card-header card-title text-dark">
                    <%= category.name %>
                </h5>
                <div class="card-body text-dark">
                    <h6 class="card-subtitle mb-2 text-muted">
                        <!-- TODO: Falta pasarle levels -->
                        Niveles: <%= category.levels %> 
                    </h6>
                    <%= category.description %>
                </div>
            </a>
        </div>
    </div>
<% }) %>
</div>