<div class="row card-container">
    <% categories.forEach((category) => { %>
        <a class="col col-2 card border-dark" href="/level/levelsByCategory/<%= category.id %>">
            <h5 class="card-header card-title text-dark">
                <%= category.name %>
            </h5>
            <div class="card-body text-dark">
                <h6 class="card-subtitle mb-2 text-muted">
                    Niveles: <%= category.levels %>
                </h6>
                <%= category.description %>
            </div>
        </a>
    <% }) %>
</div>